<div class="container-fluid">
  <div class="row">
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
      >
        <div class="container">
          <h1 class="h2">Add Episode</h1>
          <br />
          <div class="form-container col-8">
            <form method="POST" action="/episode/create">
              <input name="season_id" value="<%= season_id %>" hidden />
              <div class="row mb-3">
                <div class="col-6">
                  <div class="form-outline">
                    <label class="form-label" for="name">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter movie name" />
                  </div>
                </div>
               
              <div class="row mb-3">
                <div class="col-3">
                  <div class="form-outline">
                    <label class="form-label" for="release_date"
                      >Release Date</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="release_date"
                      placeholder="Eg. 2022-01-10"
                    />
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-outline">
                    <label class="form-label" for="country"
                      >Country of Origin</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="country"
                      placeholder="Eg. Germany"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <label class="form-label" for="min_age">Minimum Age</label>
                    <input
                      type="text"
                      class="form-control"
                      name="min_age"
                      placeholder="Eg. 13"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <label class="form-label" for="duration"
                      >Film Duration</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="duration"
                      placeholder="Eg. 2:40"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-7">
                  <div class="form-outline">
                    <label class="form-label" for="crew"
                      >Film Related person</label
                    >
                    <select
                      class="form-control movie-persons-select multiple"
                      name="persons"
                      id="movie_persons"
                      multiple
                    >
                    <% persons.forEach(function(person) { %>
                      <option value="<%= person.id %>"> <%= person.name %></option>
                    <% }); %> 
                    </select>
                  </div>
                </div>
                <div class="col-5">
                  <div class="form-outline">
                    <label class="form-label" for="genre">Genre</label>
                    <select
                      class="form-control movie-genres-select multiple"
                      name="genres"
                      id="movie_genres"
                      multiple
                    >
                    <% genres.forEach(function(genre) { %>
                      <option value="<%= genre.id %>"> <%= genre.name %></option>
                    <% }); %> 
                    </select>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <div class="form-group">
                    <label for="description">Description</label>
                    <textarea
                      class="form-control"
                      rows="6"
                      name="description"
                      placeholder="Enter description about the movie"
                    ></textarea>
                  </div>
                </div>
              </div>
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Save
              </button>
            </form>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
