<div class="container p-5">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="h2">Flims</h1>
      <% if(typeof loggedIn != 'undefined' && loggedIn && userType == "admin"){ %>
        <a href="/film/create" class="btn btn-primary">Add Film</a>
      <% } %>
  </div>
  <br>
  <div class="col-md-8 col-sm-12 col-xs-12">
    <% films.forEach(function(film) { %>
      <div class="movie-item-style-2">
        <img src="img/movies/mv1.jpg" alt="Film">
        <div class="mv-item-infor">
          <h6><a href="film/<%= film.id %>"><%= film.title %></a></h6>
          <p class="rate"> <span class="film-badge"><%= film.film_type %></span> &nbsp;<i class="ion-android-star"></i><span>8.1</span> /10</p>
          <hr/>
          <p class="run-time"> Run Time: <%= film.duration%>    <span>Minimum-Age: <%= film.min_age%> years</span>    <span>Release: <%= film.release_date%></span></p>
          <p>Genres: 
            <% film.genres[0] != null && film.genres?.forEach(function (genre) { %>
              <%= genre?.title %>,
            <% }); %>  
          </p>
          <p>Persons:
            <% film.persons[0] != null && film.persons?.forEach(function (person) { %>
              <a href="/person/<%= person?.id%>"><%= person?.title %>,</a>
            <% }); %>  
          </p>
        </div>
      </div>
    <% }); %> 
  </div>
</div>
     

   